.icon { 
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
    display: inline-block;
    mask-size: 100%;
    mask-position: center;
    background-color: #0D1B3B;
}

.icon-bell {
    mask-image: url(../../assets/icons/bell.svg);
}

.icon-user {
    mask-image: url(../../assets/icons/user.svg);
}

.icon-alert {
    mask-image: url(../../assets/icons/alert.svg);
}

.icon-queries {
    mask-image: url(../../assets/icons/queries.svg);
}

.icon-home {
    mask-image: url(../../assets/icons/home.svg);
}

.icon-world {
    mask-image: url(../../assets/icons/world.svg);
}

.icon-location {
    mask-image: url(../../assets/icons/location.svg);
}

.icon-search {
    mask-image: url(../../assets/icons/search.svg);
}

.icon-document {
    mask-image: url(../../assets/icons/document.svg);
}

.icon-clock {
    mask-image: url(../../assets/icons/clock.svg);
}

.icon-sun {
    mask-image: url(../../assets/icons/sun.svg);
}