.icon { 
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
    display: inline-block;
    mask-size: 100%;
    mask-position: center;
    background-color: #0D1B3B;
}

.icon-bell {
    mask-image: url(../../assets/icons/bell.svg);
}

.icon-user {
    mask-image: url(../../assets/icons/user.svg);
}

.icon-alert {
    mask-image: url(../../assets/icons/alert.svg);
}

.icon-queries {
    mask-image: url(../../assets/icons/queries.svg);
}