@utility form-control {
  form &:last-child {
    margin-bottom: 0;
  }
  margin-bottom: 1.5rem;

  &:not(.is-inline) label {
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
  }

  & .description {
    color: var(--color-danger);
    font-size: 0.85rem;
    margin-top: 0.125rem;
  }

  & label + .form-help-text {
    @apply -mt-1 mb-2;
  }

  & input[type='text'] {
    width: 100%;
    border-radius: 0.25rem;
  }

  & input[type='numeric'] {
    width: 100%;
    border-radius: 0.25rem;
  }

  & input[type='password'] {
    width: 100%;
    border-radius: 0.25rem;
  }

  & input[type='email'] {
    width: 100%;
    border-radius: 0.25rem;
  }

  & input[type='date'] {
    width: 100%;
    border-radius: 0.25rem;
  }

  & .pattern-format {
    width: 100%;
    border-radius: 0.25rem;
  }

  & select {
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;
  }

  &.is-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.is-center label {
    max-width: 90%;
    text-align: center;
  }
}

@utility description {
  .form-control & {
    color: var(--color-danger);
    font-size: 0.85rem;
    margin-top: 0.125rem;
  }
}

@utility form-help-text {
  .form-control label + & {
    @apply -mt-1 mb-2;
  }
  @apply text-sm font-normal my-1;
}

@utility pattern-format {
  .form-control & {
    width: 100%;
    border-radius: 0.25rem;
  }

  .form & {
    @apply p-4 text-center opacity-100 bg-gradient-to-t bg-gray-100;
  }

  .form & {
    background-image: url('../assets/icons/mx.svg');
    background-size: 2rem 2rem;
    background-position: 15px center;
    background-repeat: no-repeat;
    padding-left: 30px;
  }
}

@utility form {
  & input[type='text'] {
    @apply p-4 text-center opacity-100 bg-gradient-to-t bg-gray-100;
  }

  & input[type='numeric'] {
    @apply p-4 text-center opacity-100 bg-gradient-to-t bg-gray-100;
  }

  & input[type='password'] {
    @apply p-4 text-center opacity-100 bg-gradient-to-t bg-gray-100;
  }

  & input[type='email'] {
    @apply p-4 text-center opacity-100 bg-gradient-to-t bg-gray-100;
  }

  & input[type='date'] {
    @apply p-4 text-center opacity-100 bg-gradient-to-t bg-gray-100;
  }

  & .pattern-format {
    @apply p-4 text-center opacity-100 bg-gradient-to-t bg-gray-100;
  }

  & .pattern-format {
    background-image: url('../assets/icons/mx.svg');
    background-size: 2rem 2rem;
    background-position: 15px center;
    background-repeat: no-repeat;
    padding-left: 30px;
  }
}

@utility is-center {
  &.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.form-control label {
    max-width: 90%;
    text-align: center;
  }
}

@utility form-password {
  position: relative;

  & button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    padding: 3px;
  }

  & button img {
    opacity: 0.65;
  }
}

@utility dislay-control {
  border-radius: 0.25rem;
  @apply bg-gray-100 py-3 px-4 text-center;

  & .number {
    @apply font-medium text-2xl;
  }
}

@utility number {
  .dislay-control & {
    @apply font-medium text-2xl;
  }
}
