@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, pastel;
}
@plugin "daisyui/theme" {
  name: "pastel";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: var(--color-dark-blue-700);
  --color-primary: var(--color-emerald);
  --color-primary-content: var(--color-dark-blue-800);
  --color-secondary: oklch(80% 0.114 19.571);
  --color-secondary-content: oklch(25% 0.092 26.042);
  --color-accent: oklch(84% 0.143 164.978);
  --color-accent-content: oklch(26% 0.051 172.552);
  --color-neutral: oklch(20% 0.042 265.755);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: #f04e48;
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.3rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

@custom-variant dark (@media (prefers-color-scheme: dark));

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, Rubik;

  /* Primary: Verde aqua */
  --color-emerald: #6ef1b9;

  --color-emerald-50: #f1fef8;
  --color-emerald-100: #e9fdf5;
  --color-emerald-200: #d2fbe9;
  --color-emerald-300: #6ef1b9;
  --color-emerald-400: #63d9a7;
  --color-emerald-500: #58c194;
  --color-emerald-600: #53b58b;
  --color-emerald-700: #42916f;
  --color-emerald-800: #316c53;
  --color-emerald-900: #275441;

  /* Secundarios: verde */
  --color-green: #5bc79b;
  --color-green-50: #eff9f5;
  --color-green-100: #e6f7f0;
  --color-green-200: #cceee0;
  --color-green-300: #5bc79b;
  --color-green-400: #52b38c;
  --color-green-500: #499f7c;
  --color-green-600: #449574;
  --color-green-700: #37775d;
  --color-green-800: #295a46;
  --color-green-900: #204636;

  /* Secundarios: verde oscuro */

  --color-dark-green: #173327;
  --color-dark-green-50: #e8ebe9;
  --color-dark-green-100: #dce0df;
  --color-dark-green-200: #b7c0bc;
  --color-dark-green-300: #173327;
  --color-dark-green-400: #152e23;
  --color-dark-green-500: #12291f;
  --color-dark-green-600: #11261d;
  --color-dark-green-700: #0e1f17;
  --color-dark-green-800: #0a1712;
  --color-dark-green-900: #08120e;

  /* Secundarios: azul oscuro */
  --color-dark-blue: #0d1b3b;
  --color-dark-blue-50: #e7e8eb;
  --color-dark-blue-100: #dbdde2;
  --color-dark-blue-200: #b4b8c2;
  --color-dark-blue-300: #0d1b3b;
  --color-dark-blue-400: #0c1835;
  --color-dark-blue-500: #0a162f;
  --color-dark-blue-600: #0a142c;
  --color-dark-blue-700: #081023;
  --color-dark-blue-800: #060c1b;
  --color-dark-blue-900: #050915;

  /* Acento: morado */
  --color-purple: #6d6eff;
  --color-purple-50: #f0f1ff;
  --color-purple-100: #e9e9ff;
  --color-purple-200: #d2d2ff;
  --color-purple-300: #6d6eff;
  --color-purple-400: #6263e6;
  --color-purple-500: #5758cc;
  --color-purple-600: #5253bf;
  --color-purple-700: #414299;
  --color-purple-800: #313173;
  --color-purple-900: #262759;

  /* Acento: púrpura */
  --color-indigo: #425cc7;
  --color-indigo-50: #eceff9;
  --color-indigo-100: #e3e7f7;
  --color-indigo-200: #c4ccee;
  --color-indigo-300: #425cc7;
  --color-indigo-400: #3b53b3;
  --color-indigo-500: #354a9f;
  --color-indigo-600: #324595;
  --color-indigo-700: #283777;
  --color-indigo-800: #1e295a;
  --color-indigo-900: #172046;

  /* Semánticos: verde */
  --color-lime: #91d91c;
  --color-lime-50: #edfbcc;
  --color-lime-100: #d9f79f;
  --color-lime-200: #bfef67;
  --color-lime-300: #a4e239;
  --color-lime-400: #91d91c;
  --color-lime-500: #66a010;
  --color-lime-600: #4f7a11;
  --color-lime-700: #406014;
  --color-lime-800: #375215;
  --color-lime-900: #1b2d06;

  /* Semánticos: rojo */
  --color-red: #f04e48;
  --color-red-50: #fee3e2;
  --color-red-100: #feccca;
  --color-red-200: #fca8a5;
  --color-red-300: #f87671;
  --color-red-400: #f04e48;
  --color-red-500: #dd2c25;
  --color-red-600: #ba211b;
  --color-red-700: #991f1b;
  --color-red-800: #7f211d;
  --color-red-900: #450c0a;

  /* Escala de grises */
  --color-gray-50: #FFFFF;
  --color-gray-100: #fbfbfb;
  --color-gray-200: #f2f3f7;
  --color-gray-300: #e8eaf3;
  --color-gray-400: #d8dbe4;
  --color-gray-500: #c0c4d2;
  --color-gray-600: #969aac;
  --color-gray-700: #727688;
  --color-gray-800: #4d5163;
  --color-gray-900: #3e414e;
  --color-gray-950: #1d1e24;

  --color-dark-gray: #515151;
  --color-dark-gray-active: #686868;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  .control {
    display: grid;
    gap: 0.5rem;
  }

  .control-label {
    color: var(--color-dark-gray);
    font-size: var(--text-xs);
  }
}

/* @import url(base.css); */
/* @import url(button.css); */
/* @import url(income.css); */
/* @import url(form.css); */

/*
  .heading {
  @apply gap-2
    bg-cover
    text-white
    px-9
    py-6
    flex
    flex-col
    justify-end;
}

.heading--green {
  background-image: url("../assets/images/header-bg.png");
}

.heading--blue {
  background-image: url("../assets/images/header-blue-bg.png");
}

.heading--sky-blue {
  @apply pt-16;
  background-image: url("../assets/images/sky-blue-bg.png");
}

.heading--center {
  @apply justify-center items-center;
}

.heading--compact {
  @apply h-auto;
}

.heading-light-green {
  @apply h-96 bg-cover px-9 pt-32;
  background-image: url("../assets/images/light-green-bg.png");
}

.heading__pager {
  @apply text-xs;
}

.heading__title {
  @apply text-4xl leading-none text-balance;
}

.heading__title strong {
  @apply font-semibold;
}

.heading__headline {
  @apply font-semibold;
}

.heading-1 {
  @apply text-5xl leading-none;
}

.heading-2 {
  @apply text-4xl leading-none;
}

.heading-3 {
  @apply text-3xl;
}

.heading-4 {
  @apply text-2xl;
}

.heading-3 strong,
.heading-2 strong {
  @apply font-semibold;
}

.blue-bg {
  @apply bg-cover px-9 py-6;
  background-image: url("../assets/images/blue-bg.png");
}

.content {
  @apply flex p-8 flex-col items-center text-center;
  min-height: calc(100% - 15rem);
}

.content.is-center {
  @apply justify-center;
}

.help-text {
  @apply max-w-xs font-medium leading-5;
}

.prose-sm p {
  @apply text-sm mb-4;
}

.prose-sm h2 {
  @apply text-base font-semibold mb-2 leading-tight;
}

.border-full {
  @apply border-b border-solid border-gray-400 w-full my-3;
}

#bg-checkbox {
  @apply accent-primary-green;
}

ion-footer {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} */
