@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, pastel;
}

@plugin "daisyui/theme" {
  name: "cupcake";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: var(--color-white);
  --color-base-200: oklch(93.982% 0.007 61.449);
  --color-base-300: oklch(91.586% 0.006 53.44);
  --color-base-content: var(--color-dark-blue-700);
  --color-primary: var(--color-emerald-300);
  --color-primary-content: var(--color-dark-blue-800);
  --color-secondary: oklch(89% 0.061 343.231);
  --color-secondary-content: oklch(45% 0.187 3.815);
  --color-accent: oklch(90% 0.076 70.697);
  --color-accent-content: oklch(47% 0.157 37.304);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: var(--color-lime-400);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.3rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, Rubik;

  /* Primary: Verde aqua */
  --color-emerald: #6ef1b9;

  --color-emerald-50: #f1fef8;
  --color-emerald-100: #e9fdf5;
  --color-emerald-200: #d2fbe9;
  --color-emerald-300: #6ef1b9;
  --color-emerald-400: #63d9a7;
  --color-emerald-500: #58c194;
  --color-emerald-600: #53b58b;
  --color-emerald-700: #42916f;
  --color-emerald-800: #316c53;
  --color-emerald-900: #275441;

  /* Secundarios: verde */
  --color-green: #5bc79b;
  --color-green-50: #eff9f5;
  --color-green-100: #e6f7f0;
  --color-green-200: #cceee0;
  --color-green-300: #5bc79b;
  --color-green-400: #52b38c;
  --color-green-500: #499f7c;
  --color-green-600: #449574;
  --color-green-700: #37775d;
  --color-green-800: #295a46;
  --color-green-900: #204636;

  /* Secundarios: verde oscuro */

  --color-dark-green: #173327;
  --color-dark-green-50: #e8ebe9;
  --color-dark-green-100: #dce0df;
  --color-dark-green-200: #b7c0bc;
  --color-dark-green-300: #173327;
  --color-dark-green-400: #152e23;
  --color-dark-green-500: #12291f;
  --color-dark-green-600: #11261d;
  --color-dark-green-700: #0e1f17;
  --color-dark-green-800: #0a1712;
  --color-dark-green-900: #08120e;

  /* Secundarios: azul oscuro */
  --color-dark-blue: #0d1b3b;
  --color-dark-blue-50: #e7e8eb;
  --color-dark-blue-100: #dbdde2;
  --color-dark-blue-200: #b4b8c2;
  --color-dark-blue-300: #0d1b3b;
  --color-dark-blue-400: #0c1835;
  --color-dark-blue-500: #0a162f;
  --color-dark-blue-600: #0a142c;
  --color-dark-blue-700: #081023;
  --color-dark-blue-800: #060c1b;
  --color-dark-blue-900: #050915;

  /* Acento: morado */
  --color-purple: #6d6eff;
  --color-purple-50: #f0f1ff;
  --color-purple-100: #e9e9ff;
  --color-purple-200: #d2d2ff;
  --color-purple-300: #6d6eff;
  --color-purple-400: #6263e6;
  --color-purple-500: #5758cc;
  --color-purple-600: #5253bf;
  --color-purple-700: #414299;
  --color-purple-800: #313173;
  --color-purple-900: #262759;

  /* Acento: púrpura */
  --color-indigo: #425cc7;
  --color-indigo-50: #eceff9;
  --color-indigo-100: #e3e7f7;
  --color-indigo-200: #c4ccee;
  --color-indigo-300: #425cc7;
  --color-indigo-400: #3b53b3;
  --color-indigo-500: #354a9f;
  --color-indigo-600: #324595;
  --color-indigo-700: #283777;
  --color-indigo-800: #1e295a;
  --color-indigo-900: #172046;

  /* Semánticos: verde */
  --color-lime: #91d91c;
  --color-lime-50: #edfbcc;
  --color-lime-100: #d9f79f;
  --color-lime-200: #bfef67;
  --color-lime-300: #a4e239;
  --color-lime-400: #91d91c;
  --color-lime-500: #66a010;
  --color-lime-600: #4f7a11;
  --color-lime-700: #406014;
  --color-lime-800: #375215;
  --color-lime-900: #1b2d06;

  /* Semánticos: rojo */
  --color-red: #f04e48;
  --color-red-50: #fee3e2;
  --color-red-100: #feccca;
  --color-red-200: #fca8a5;
  --color-red-300: #f87671;
  --color-red-400: #f04e48;
  --color-red-500: #dd2c25;
  --color-red-600: #ba211b;
  --color-red-700: #991f1b;
  --color-red-800: #7f211d;
  --color-red-900: #450c0a;

  /* Escala de grises */
  --color-gray-50: #FFFFF;
  --color-gray-100: #fbfbfb;
  --color-gray-200: #f2f3f7;
  --color-gray-300: #e8eaf3;
  --color-gray-400: #d8dbe4;
  --color-gray-500: #c0c4d2;
  --color-gray-600: #969aac;
  --color-gray-700: #727688;
  --color-gray-800: #4d5163;
  --color-gray-900: #3e414e;
  --color-gray-950: #1d1e24;

  --color-gray-hover: #D0D0D0;
  --color-dark-gray: #515151;
  --color-dark-gray-active: #686868;

  /* Type h3 */

  --fluid-28-36: clamp(1.75rem, 1.5833rem + 0.7407vw, 2.25rem);
  --fluid-34-40: clamp(2.125rem, 2rem + 0.5556vw, 2.5rem);

  --text-h3: var(--fluid-28-36);
  --text-h3--line-height: var(--fluid-34-40);
  --text-h3--font-weight: 600;

  /* Type h4 */

  --fluid-28-36: clamp(1.75rem, 1.5833rem + 0.7407vw, 2.25rem);
  --fluid-34-40: clamp(2.125rem, 2rem + 0.5556vw, 2.5rem);

  --text-h4: var(--fluid-28-36);
  --text-h4--line-height: var(--fluid-34-40);
  --text-h4--font-weight: 600;

  /* Type h5 */

  --fluid-20-24: clamp(1.25rem, 1.1667rem + 0.3704vw, 1.5rem);
  --fluid-28-32: clamp(1.75rem, 1.6667rem + 0.3704vw, 2rem);

  --text-h5: var(--fluid-20-24);
  --text-h5--line-height: var(--fluid-28-32);
  --text-h5--font-weight: 600;

  /* Type h6 */

  --fluid-18-20: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem);
  --fluid-22-24: clamp(1.375rem, 1.3333rem + 0.1852vw, 1.5rem);

  --text-h6: var(--fluid-18-20);
  --text-h6--line-height: var(--fluid-22-24);
  --text-h6--font-weight: 600;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  .control {
    display: grid;
    gap: 0.5rem;
  }

  .control-label {
    color: var(--color-dark-gray);
    font-size: var(--text-xs);
  }
}

@utility input {
  @apply w-full text-base;
  --input-color: var(--color-gray-hover);

  &:focus {
    @apply border-emerald-400 outline-none;
  }
}

@utility label {
  @apply gap-2;
}

@utility btn {
  @apply rounded-full;
}

@utility link {
  @apply font-semibold;
}

/* @import url(base.css); */
/* @import url(button.css); */
/* @import url(income.css); */
/* @import url(form.css); */

/*
  .heading {
  @apply gap-2
    bg-cover
    text-white
    px-9
    py-6
    flex
    flex-col
    justify-end;
}

.heading--green {
  background-image: url("../assets/images/header-bg.png");
}

.heading--blue {
  background-image: url("../assets/images/header-blue-bg.png");
}

.heading--sky-blue {
  @apply pt-16;
  background-image: url("../assets/images/sky-blue-bg.png");
}

.heading--center {
  @apply justify-center items-center;
}

.heading--compact {
  @apply h-auto;
}

.heading-light-green {
  @apply bg-cover px-9 pt-32 h-96;
  background-image: url("../assets/images/light-green-bg.png");
}

.heading__pager {
  @apply text-xs;
}

.heading__title {
  @apply text-4xl text-balance leading-none;
}

.heading__title strong {
  @apply font-semibold;
}

.heading__headline {
  @apply font-semibold;
}

.heading-1 {
  @apply text-5xl leading-none;
}

.heading-2 {
  @apply text-4xl leading-none;
}

.heading-3 {
  @apply text-3xl;
}

.heading-4 {
  @apply text-2xl;
}

.heading-3 strong,
.heading-2 strong {
  @apply font-semibold;
}

.blue-bg {
  @apply bg-cover px-9 py-6;
  background-image: url("../assets/images/blue-bg.png");
}

.content {
  @apply flex flex-col items-center p-8 text-center;
  min-height: calc(100% - 15rem);
}

.content.is-center {
  @apply justify-center;
}

.help-text {
  @apply max-w-xs font-medium leading-5;
}

.prose-sm p {
  @apply mb-4 text-sm;
}

.prose-sm h2 {
  @apply mb-2 font-semibold text-base leading-tight;
}

.border-full {
  @apply my-3 border-gray-400 border-b border-solid w-full;
}

#bg-checkbox {
  @apply accent-primary-green;
}

ion-footer {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} */
