@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");

@import url(base.css);
@import url(button.css);
@import url(income.css);
@import url(form.css);

:root {
  --font-sm: 14px;
  --font-base: 16px;
  --font-lg: 18px;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f4f4f4;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
}

/** other custom global styles can go here */

.heading {
  @apply h-60 bg-cover text-white px-9 py-6 flex flex-col justify-end;
}

.heading--green {
  background-image: url("../assets/images/header-bg.png");
}

.heading--blue {
  background-image: url("../assets/images/header-blue-bg.png");
}

.heading--sky-blue {
  @apply pt-16;
  background-image: url("../assets/images/sky-blue-bg.png");
}

.heading--center {
  @apply justify-center items-center;
}

.heading--compact {
  @apply h-auto;
}

.heading-light-green {
  @apply h-96 bg-cover px-9 pt-32;
  background-image: url("../assets/images/light-green-bg.png");
}

.heading__pager {
  @apply text-xs mb-2;
}

.heading__title {
  @apply text-[44px] mb-2 leading-none;
}

.heading__title strong {
  @apply font-semibold;
}

.heading__headline {
  @apply font-semibold;
}

.heading-1 {
  @apply text-5xl mb-2 leading-none;
}

.heading-2 {
  @apply text-4xl leading-none;
  font-weight: 700;
  margin-bottom: 1rem;
}

.heading-3 {
  @apply text-3xl leading-none;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.heading-4 {
  @apply text-2xl leading-none;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.heading-3 strong,
.heading-2 strong {
  font-weight: 600;
}

.blue-bg {
  @apply bg-cover px-9 py-6;
  background-image: url("../assets/images/blue-bg.png");
}

/** Content styles. **/
.content {
  @apply flex p-8 flex-col items-center text-center;
  min-height: calc(100% - 15rem);
}

.content.is-center {
  @apply justify-center;
}

.help-text {
  @apply max-w-xs font-semibold leading-5;
}

.prose-sm p {
  @apply text-sm mb-4;
}

.prose-sm h2 {
  @apply text-base font-semibold mb-2 leading-tight;
}

.border-full {
  @apply border-b border-solid border-gray-400 w-full my-3;
}

#bg-checkbox {
  @apply accent-primary-green;
}

ion-footer {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
