.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-body {
  padding: 1.5rem 1.75rem;
  flex: 1;
}

.page-footer {
  padding: 1.5rem 1.75rem;
  display: flex;
  flex-direction: column;
}

.page-footer.has-divider {
  border-top: 1px solid #cdcdcd;
}

.page.is-compact {
  background: var(--color-neutral-100);
  padding: 1.5rem;
}

.page.is-compact .page-body {
  background-color: white;
}
