:root {
  /* --color-danger: hsl(348, 86%, 61%);
  --color-success: hsl(153, 53%,  53%); */
}

.message {
  font-size: var(--font-base);
  line-height: 1;
  font-weight: 600;
}

.message.is-danger {
  color: var(--color-danger);
}

.message.is-success {
  color: var(--color-success);
}

.message.is-info {
  color: var(--color-success);
}

.message.is-small {
  font-size: var(--font-sm);
  font-weight: 400;
}